.vs/*
.vs/*/**
.vs/

**/bin
**/obj
**/Log
**/node_modules
**/.angular
**/dist

*.tmp
*.suo
*.csproj.user
*.exe

CarDealerMangaer/.vs/**

Deployment/build/**
Deployment/package/**
Deployment/buildCert/**
Deployment/packageCert/**
